[submodule "learn"]
	path = learn
	url = https://github.com/gdg-jp/learn.git
[submodule "skills"]
	path = skills
	url = https://github.com/gdg-jp/skills.git
[submodule "xangi"]
	path = xangi
	url = https://github.com/gdg-jp/xangi.git
